@font-face {
    font-family: Helvetica;
    src: url('../fonts/Helvetica/HelveticaNeue.otf');
    font-weight: normal;
    font-style: normal;
}

html{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently */
    position: relative;;
}
*{
    padding :0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica;
    
}
html,body {
    width: 1280px;
	height: 1024px;
	overflow: hidden;
	color: #ffffff;
	font-size: 24px;
    line-height: 1.333;
    background: url("../Image/img_MTK/Backgroud.png") no-repeat; 
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;  
    margin-top: 104px;
}
.header .center{
    font-size: 30px;
    color: #EAAB00;
    padding-right: 5px;
}
.header .time{
    font-size: 24px;
    opacity: 0.5;
}
